<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mano.scs.app.dao.ReportConfigMapper">

	<select id="get" resultType="org.mano.scs.config.entity.Report">

	</select>

	<select id="getAll" resultType="org.mano.scs.config.entity.Report">
		select * from tbl_report
	</select>

	<select id="getByUser" resultType="org.mano.scs.config.entity.Report">

	</select>

	<insert id="add">

	</insert>

	<delete id="delete">

	</delete>

	<delete id="deleteByUser">

	</delete>

	<update id="update">

	</update>

</mapper>