<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

<!-- 	<typeAliases>
	  <package name="org.mano.scsty"/>
	</typeAliases> -->

	<!-- Register all interfaces in a package as mappers -->
<!-- 	<mappers>
	  <package name="org.mano.scser"/>
	</mappers> -->

	<!-- Using url fully qualified paths -->
	<!-- <mappers>
	  <mapper url="file:///var/mappers/AuthorMapper.xml"/>
	  <mapper url="file:///var/mappers/BlogMapper.xml"/>
	  <mapper url="file:///var/mappers/PostMapper.xml"/>
	</mappers> -->

</configuration>