<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Spring Boot CLI + Javascript</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="webjars/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('p').animate({
			fontSize : '48px'
		}, "slow");
	});
</script>
<style type="text/css">

body {
	background-color: black;
	color: orange;
}

</style>
</head>
<body>
	<p th:text="'Report Name: ' + ${report.name} + '!'" />

	<div th:each="section : ${report.sections}">

		<table>
			<tr>
				<th th:each="column : ${section.columns}">
					<span th:text="${column}"></span>
				</th>
			</tr>
			
			<tr  th:each="data : ${section.data}">
					<th th:each="value : ${data.values()}">
						<span th:text="${value}"></span>
					</th>
			</tr>
			
		</table>

	</div>

</body>
</html>